<div class="mt-5">
<h1>Welcome to the Finance Tracker</h1>
<p>Track your stocks and see how much money you are making or losing.</p>

<% if user_signed_in? %>
  <%= link_to "My Portfolio", my_portfolio_path, class: "btn btn-primary" %>
  <%= link_to "My Friends", my_friends_path, class: "btn btn-primary" %>
<% else %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
<% end %>

</div>